<div class="dx-list-toolbar">
  <dx-button type="success" text="Добавить" (onClick)="open(false)"></dx-button>
  <dx-button type="default" text="Редактировать" (onClick)="open(true)" [disabled]="isEditDisabled"></dx-button>
  <dx-button type="danger" text="Удалить" (onClick)="deleteGenre()" [disabled]="isEditDisabled"></dx-button>
</div>

<h2 class="content-block">Жанры</h2>

<div class="dx-list-layout">
  <dx-list
    [dataSource]="dataSource"
    [searchEnabled]="true"
    displayExpr="name"
    keyExpr="id"
    [selectByClick]="true"
    (onSelectionChanged)="selectionChanged($event)"
    [showSelectionControls]="true"
    selectionMode="single"
    searchExpr="title"
  >
  </dx-list>
</div>

<app-genres-popup (onDone)="genreSaved()"></app-genres-popup>
